@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
